<nav class="sticky bg-white shadow">
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-600"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="toggle = !toggle"
        >
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"
      >
        <div class="flex items-center flex-shrink-0">
          <img
            class="block w-auto h-8 lg:hidden"
            src="https://tailwindui.com/img/logos/mark.svg?color=red&shade=600"
            alt="Your Company"
          />
          <img
            class="hidden w-auto h-8 lg:block"
            src="https://tailwindui.com/img/logos/mark.svg?color=red&shade=600"
            alt="Your Company"
          />
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a
            routerLink="/"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-90 hover:text-red-600 "
            >Home</a
          >
          <a
            href="#about-us"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium cursor-pointer text-gray-90 hover:text-red-600 "
            >About Us</a
          >
          <a
            href="#contact-us"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-90 hover:text-red-600 "
            >Contact Us</a
          >
          <a
            href="#"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-90 hover:text-red-600 "
            >Rates</a
          >
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 items-center hidden pr-2 md:flex sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="relative items-center justify-center ml-3">
          <div class="items-center justify-center space-x-8">
            <a
              routerLink="/login"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-red-600 border-2 border-red-600 rounded-xl hover:bg-red-600 hover:text-white"
              >Login</a
            >
            <a
              routerLink="/sign-up"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border-2 border-transparent rounded-xl hover:bg-white hover:border-red-600 hover:text-red-600"
              >Sign-up</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu bg-white" *ngIf="toggle">
    <div class="flex flex-col items-center justify-center pt-2 pb-4 space-y-3">
      <a
        routerLink="/"
        class="block py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:text-red-600"
        >Home</a
      >
      <a
        href="#about-us"
        class="block py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:text-red-600"
        >About Us</a
      >
      <a
        href="#contact-us"
        class="block py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:text-red-600"
        >Contact Us</a
      >
      <a
        href="#"
        class="block py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:text-red-600"
        >Rates</a
      >

      <a
        routerLink="/login"
        class="items-center block w-1/5 px-4 py-2 text-sm font-medium text-center text-red-600 border-2 border-red-600 rounded-xl hover:bg-red-600 hover:text-white"
        >Login</a
      >
      <a
        routerLink="/sign-up"
        class="items-center block w-1/5 px-4 py-2 text-sm font-medium text-center text-white bg-red-600 border-2 border-transparent rounded-xl hover:bg-white hover:border-red-600 hover:text-red-600"
        >Sign-up</a
      >
    </div>
  </div>
</nav>
