<app-navbar></app-navbar>

<div
  class="w-full px-4 pt-10 ml-24 overflow-x-visible md:max-w-3xl sm:px-6 lg:px-8"
>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        Rates
      </h1>
      <p class="mt-4 text-sm font-semibold text-black font-Inter">
        All Items over $50 USD will accumulate a customs duty fee.
      </p>

      <p class="mt-2 text-lg font-semibold text-black font-Inter">
        Items without an accmpanying invoice will be subject to customs
        estimation
      </p>
    </div>
  </div>
  <div class="flex flex-col mx-auto mt-8">
    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <div class="shadow-sm ring-1 ring-black ring-opacity-5">
          <table class="min-w-full border-separate" style="border-spacing: 0">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="sticky top-0 z-10 border-b text-center border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-sm font-semibold text-black backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                >
                  Weight (lb)
                </th>
                <th
                  scope="col"
                  class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-center text-sm font-semibold text-black backdrop-blur backdrop-filter sm:table-cell"
                ></th>
                <th
                  scope="col"
                  class="sticky top-0 z-10 border-b text-center border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-sm font-semibold text-black backdrop-blur backdrop-filter lg:table-cell"
                >
                  Price
                </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  1
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  No Processing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $800 JMD
                </td>
              </tr>

              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  1 -3
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  Plus $150 Processing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $715 JMD
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  4-6
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  Plus $150 Processing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $685 JMD
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  7-9
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  Plus $150 Processing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $595 JMD
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  10
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  Plus $150 Processing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $490 JMD
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium text-center text-black border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                >
                  Over Ten (10)
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap sm:table-cell"
                >
                  Plus Proccessing Fee
                </td>
                <td
                  class="px-3 py-4 text-sm text-center text-black border-b border-gray-200 whitespace-nowrap lg:table-cell"
                >
                  $450 JMD and Lower
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
