<div class="min-h-full">
  <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
    <div
      class="fixed inset-0 bg-gray-600 bg-opacity-75"
      *ngIf="toggleSideBar"
    ></div>

    <div class="fixed inset-0 z-40 flex" *ngIf="toggleSideBar">
      <div
        class="relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4 bg-red-700"
      >
        <div class="absolute top-0 right-0 pt-2 -mr-12">
          <button
            type="button"
            class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            (click)="openSideBar()"
          >
            <span class="sr-only">Close sidebar</span>
            <!-- Heroicon name: outline/x-mark -->
            <svg
              class="w-6 h-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>

        <div class="flex items-center flex-shrink-0 px-4">
          <img
            class="w-auto h-16"
            src="../../../assets/SPRINT JA FINAL LOGO_White.png"
            alt="Sprint Jamaica"
          />
        </div>
        <nav
          class="flex-shrink-0 h-full mt-5 overflow-y-auto divide-y divide-white"
          aria-label="Sidebar"
        >
          <div class="px-2 space-y-1">
            <!-- Current: "bg-cyan-800 text-white", Default: "text-cyan-100 hover:text-white hover:bg-cyan-600" -->
            <a
              href="#"
              class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md hover:bg-yellow-500 group"
              aria-current="page"
            >
              <!-- Heroicon name: outline/home -->
              <svg
                class="flex-shrink-0 w-6 h-6 mr-4 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                />
              </svg>
              Home
            </a>

            <a
              routerLink="/new-pre-alert"
              class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md hover:text-white hover:bg-yellow-500 group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="flex-shrink-0 w-6 h-6 mr-4 text-gray-200"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
              New Pre Alert
            </a>

            <a
              [routerLink]="['/my-pre-alerts', userInfor.userId]"
              class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md hover:text-white hover:bg-yellow-500 group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="flex-shrink-0 w-6 h-6 mr-4 text-gray-200"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                />
              </svg>
              My Shipments
            </a>
          </div>
          <div class="pt-6 mt-6">
            <div class="px-2 space-y-1">
              <a
                href="#"
                class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md group hover:bg-yellow-500 hover:text-white"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 mr-4 text-gray-200"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                  />
                </svg>

                Update Profile
              </a>

              <a
                (click)="onLogout()"
                class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md group hover:bg-yellow-500 hover:text-white"
              >
                <!-- Heroicon name: outline/shield-check -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 mr-4 text-gray-200"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5.636 5.636a9 9 0 1012.728 0M12 3v9"
                  />
                </svg>

                Logout
              </a>
            </div>
          </div>
        </nav>
      </div>

      <div class="flex-shrink-0 w-14" aria-hidden="true">
        <!-- Dummy element to force sidebar to shrink to fit close icon -->
      </div>
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-col flex-grow pt-5 pb-4 overflow-y-auto bg-red-700">
      <div class="flex items-center flex-shrink-0 px-4">
        <img
          class="w-auto h-16"
          src="../../../assets/SPRINT JA FINAL LOGO_White.png"
          alt="Sprint Jamaica"
        />
      </div>
      <nav
        class="flex flex-col flex-1 mt-5 overflow-y-auto divide-y divide-white"
        aria-label="Sidebar"
      >
        <div class="px-2 space-y-1">
          <!-- Current: "bg-cyan-800 text-white", Default: "text-cyan-100 hover:text-white hover:bg-cyan-600" -->
          <a
            href="#"
            class="flex items-center px-2 py-2 text-sm font-medium leading-6 text-gray-200 rounded-md group hover:bg-yellow-500"
            aria-current="page"
          >
            <!-- Heroicon name: outline/home -->
            <svg
              class="flex-shrink-0 w-6 h-6 mr-4 text-gray-200"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              />
            </svg>
            Home
          </a>

          <a
            routerLink="/new-pre-alert"
            class="flex items-center px-2 py-2 text-sm font-medium leading-6 text-gray-200 rounded-md hover:text-white hover:bg-yellow-400 group"
          >
            <!-- Heroicon name: outline/clock -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="flex-shrink-0 w-6 h-6 mr-4 text-gray-200"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>

            New Pre Alert
          </a>

          <a
            [routerLink]="['/my-pre-alerts', userInfor.userId]"
            class="flex items-center px-2 py-2 text-sm font-medium leading-6 text-gray-200 rounded-md hover:text-white hover:bg-yellow-500 group"
          >
            <!-- Heroicon name: outline/user-group -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="flex-shrink-0 w-6 h-6 mr-4 text-gray-200"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              />
            </svg>

            My Shipments
          </a>
        </div>
        <div class="pt-6 mt-6">
          <div class="px-2 space-y-1">
            <a
              href="#"
              class="flex items-center px-2 py-2 text-sm font-medium leading-6 text-gray-200 rounded-md group hover:bg-yellow-500 hover:text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-4 text-gray-200"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                />
              </svg>

              Update Profile
            </a>

            <a
              routerLink="/update-profile"
              class="flex items-center px-2 py-2 text-sm font-medium leading-6 text-gray-200 rounded-md group hover:bg-yellow-500 hover:text-white"
            >
              <!-- Heroicon name: outline/question-mark-circle -->
              <svg
                class="w-6 h-6 mr-4 text-gray-200"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                />
              </svg>
              Help
            </a>

            <a
              (click)="onLogout()"
              class="flex items-center px-2 py-2 text-base font-medium text-gray-200 rounded-md group hover:bg-yellow-500 hover:text-white"
            >
              <!-- Heroicon name: outline/shield-check -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-4 text-gray-200"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5.636 5.636a9 9 0 1012.728 0M12 3v9"
                />
              </svg>

              Logout
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="flex flex-col flex-1 lg:pl-64">
    <div
      class="flex flex-shrink-0 h-16 bg-white border-b border-gray-200 lg:border-none"
    >
      <button
        type="button"
        class="px-4 text-gray-400 border-r border-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-red-700 lg:hidden"
        (click)="toggleSideBar = !toggleSideBar"
      >
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: outline/bars-3-center-left -->
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
          />
        </svg>
      </button>
      <!-- Search bar -->
      <div
        class="flex justify-between flex-1 px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8"
      >
        <div class="flex flex-1"></div>
        <div class="flex items-center ml-4 md:ml-6">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button
                type="button"
                class="flex items-center max-w-xs text-sm bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 lg:rounded-md lg:p-2 lg:hover:bg-gray-50"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
                (click)="toggle = !toggle"
              >
                <span
                  class="inline-block w-8 h-8 overflow-hidden bg-gray-100 rounded-full"
                >
                  <svg
                    class="w-full h-full text-gray-300"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                </span>
                <span
                  class="hidden ml-3 text-sm font-medium text-gray-700 lg:block"
                  ><span class="sr-only">Open user menu for </span
                  >{{ userInfor.firstName }} {{ userInfor.lastName }}</span
                >
                <!-- Heroicon name: mini/chevron-down -->
                <svg
                  class="flex-shrink-0 hidden w-5 h-5 ml-1 text-gray-400 lg:block"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>

            <div
              *ngIf="toggle"
              class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <a
                routerLink="/update-profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:text-red-700"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                >Your Profile</a
              >

              <a
                (click)="onLogout()"
                class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:text-red-700"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="flex-1 pb-8">
      <!-- Page header -->
      <div class="bg-white shadow">
        <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
          <div
            class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200"
          >
            <div class="flex-1 min-w-0">
              <!-- Profile -->
              <div class="flex items-center">
                <span
                  class="inline-block w-16 h-16 overflow-hidden bg-gray-100 rounded-full"
                >
                  <svg
                    class="w-full h-full text-gray-300"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                  </svg>
                </span>
                <div>
                  <div class="flex items-center">
                    <h1
                      class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:leading-9"
                    >
                      Hello, {{ userInfor.firstName }}
                    </h1>
                  </div>
                  <dl
                    class="flex flex-col mt-6 sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap"
                  >
                    <dd
                      class="flex items-center ml-3 text-sm font-medium text-gray-500 capitalize sm:mr-6"
                    >
                      {{ userInfor.userId }}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="flex mt-6 space-x-3 md:mt-0 md:ml-4">
              <a
                routerLink="/new-pre-alert"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border-transparent rounded-md shadow-sm b5order hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
              >
                New Pre-Alert
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-4">
          <h2 class="text-lg font-medium leading-6 text-gray-900">
            Shipping Address
          </h2>
          <div
            class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-2"
          >
            <div
              class="w-full overflow-hidden bg-gray-100 border border-gray-700 rounded-lg shadow"
            >
              <div class="items-start p-5">
                <div class="flex flex-col items-center">
                  <h1 class="text-xl font-bold text-gray-white">
                    Sea Shippment
                  </h1>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Name: {{ userInfor.firstName }} {{ userInfor.lastName }}
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Address line 1: 7927 NW 67Th ST,
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Address line 2: Shipway
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    City / State : Miami, Florida
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Zipcode : 33166
                  </h2>
                </div>
              </div>
            </div>

            <div
              class="overflow-hidden bg-gray-100 border border-gray-700 rounded-lg shadow"
            >
              <div class="p-5">
                <div class="flex flex-col items-center">
                  <h1 class="text-xl font-bold text-gray-white">
                    Air Shippment
                  </h1>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Name: {{ userInfor.firstName }} {{ userInfor.lastName }}
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Address line 1: 3750 W. Oakland Park Blvd,
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Address line 2: Shipway
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    City / State : Lauderdale Lakes, Florida
                  </h2>
                  <h2 class="mt-2 font-semibold text-gray-500 text-md">
                    Zip Code: 33311
                  </h2>
                </div>
              </div>
            </div>

            <!-- More items... -->
          </div>
        </div>

        <div class="max-w-6xl px-4 mx-auto mt-8 sm:px-6 lg:px-8">
          <h2 class="text-lg font-medium leading-6 text-gray-900">Overview</h2>
          <div
            class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-3"
          >
            <!-- Card -->
            <div
              class="overflow-hidden bg-red-500 rounded-lg shadow"
              *ngIf="totalPackagesNotShipped !== 0"
            >
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/scale -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5 "
                      stroke="currentColor"
                      class="w-6 h-6 text-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                      />
                    </svg>
                  </div>
                  <div class="flex-1 w-0 ml-5">
                    <dl>
                      <dt
                        class="text-sm font-medium text-white uppercase truncate"
                      >
                        Not Shipped
                      </dt>
                      <dd>
                        <div class="text-lg font-medium text-white">
                          {{ totalPackagesNotShipped }}
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="px-5 py-3 bg-gray-50">
                <div class="text-sm">
                  <a
                    href="#"
                    class="font-medium text-gray-700 hover:text-gray-500"
                    >View all</a
                  >
                </div>
              </div>
            </div>

            <div
              class="overflow-hidden bg-yellow-400 rounded-lg shadow"
              *ngIf="totalPackagesShipped !== 0"
            >
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/scale -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                      />
                    </svg>
                  </div>
                  <div class="flex-1 w-0 ml-5">
                    <dl>
                      <dt
                        class="text-sm font-medium text-white uppercase truncate"
                      >
                        Shipped
                      </dt>
                      <dd>
                        <div class="text-lg font-medium text-white">
                          {{ totalPackagesShipped }}
                        </div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="px-5 py-3 bg-gray-50" hidden>
                <div class="text-sm">
                  <a
                    href="#"
                    class="font-medium text-gray-700 hover:text-gray-500"
                    >View all</a
                  >
                </div>
              </div>
            </div>

            <div
              class="overflow-hidden bg-green-500 rounded-lg shadow"
              *ngIf="totalPackagesReadyForPickUp != 0"
            >
              <div class="p-5">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/scale -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                      />
                    </svg>
                  </div>
                  <div class="flex-1 w-0 ml-5">
                    <dl>
                      <dt
                        class="text-sm font-medium text-white uppercase truncate"
                      >
                        ready for pick up
                      </dt>
                      <dd>
                        <div class="text-lg font-medium text-white">15</div>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="px-5 py-3 bg-gray-50">
                <div class="text-sm">
                  <a
                    href="#"
                    class="font-medium text-gray-700 hover:text-gray-500"
                    >View all</a
                  >
                </div>
              </div>
            </div>

            <!-- More items... -->
          </div>
        </div>

        <h2
          class="max-w-6xl px-4 mx-auto mt-8 text-lg font-medium leading-6 text-gray-900 sm:px-6 lg:px-8"
          *ngIf="deliveredPackages.length !== 0"
        >
          Recent activity
        </h2>

        <h2
          class="max-w-6xl px-4 mx-auto mt-8 text-lg font-medium leading-6 text-gray-900 sm:px-6 lg:px-8"
          *ngIf="deliveredPackages.length === 0"
        >
          No Records Found
        </h2>

        <!-- Activity list (smallest breakpoint only) -->
        <div class="shadow sm:hidden" *ngIf="deliveredPackages.length !== 0">
          <ul
            role="list"
            class="mt-2 overflow-hidden divide-y divide-gray-200 shadow sm:hidden"
          >
            <li>
              <a href="#" class="block px-4 py-4 bg-white hover:bg-gray-50">
                <span class="flex items-center space-x-4">
                  <span class="flex flex-1 space-x-2 truncate">
                    <!-- Heroicon name: mini/banknotes -->
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-gray-400"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 4a1 1 0 011-1h16a1 1 0 011 1v8a1 1 0 01-1 1H2a1 1 0 01-1-1V4zm12 4a3 3 0 11-6 0 3 3 0 016 0zM4 9a1 1 0 100-2 1 1 0 000 2zm13-1a1 1 0 11-2 0 1 1 0 012 0zM1.75 14.5a.75.75 0 000 1.5c4.417 0 8.693.603 12.749 1.73 1.111.309 2.251-.512 2.251-1.696v-.784a.75.75 0 00-1.5 0v.784a.272.272 0 01-.35.25A49.043 49.043 0 001.75 14.5z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="flex flex-col text-sm text-gray-500 truncate">
                      <span class="truncate">Payment to Molly Sanders</span>
                      <span
                        ><span class="font-medium text-gray-900">$20,000</span>
                        USD</span
                      >
                      <time datetime="2020-07-11">July 11, 2020</time>
                    </span>
                  </span>
                  <!-- Heroicon name: mini/chevron-right -->
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </a>
            </li>

            <!-- More transactions... -->
          </ul>

          <nav
            class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200"
            aria-label="Pagination"
          >
            <div class="flex justify-between flex-1">
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:text-gray-500"
                >Previous</a
              >
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:text-gray-500"
                >Next</a
              >
            </div>
          </nav>
        </div>

        <!-- Activity table (small breakpoint and up) -->
        <div class="hidden sm:block" *ngIf="deliveredPackages.length !== 0">
          <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
            <div class="flex flex-col mt-2">
              <div
                class="min-w-full overflow-hidden overflow-x-auto align-middle shadow sm:rounded-lg"
              >
                <table class="min-w-full divide-y divide-gray-200">
                  <thead>
                    <tr>
                      <th
                        class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50"
                        scope="col"
                      >
                        Transaction
                      </th>
                      <th
                        class="px-6 py-3 text-sm font-semibold text-right text-gray-900 bg-gray-50"
                        scope="col"
                      >
                        Amount
                      </th>
                      <th
                        class="hidden px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50 md:block"
                        scope="col"
                      >
                        Status
                      </th>
                      <th
                        class="px-6 py-3 text-sm font-semibold text-right text-gray-900 bg-gray-50"
                        scope="col"
                      >
                        Date
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr class="bg-white">
                      <td
                        class="w-full px-6 py-4 text-sm text-gray-900 max-w-0 whitespace-nowrap"
                      >
                        <div class="flex">
                          <a
                            href="#"
                            class="inline-flex space-x-2 text-sm truncate group"
                          >
                            <!-- Heroicon name: mini/banknotes -->
                            <svg
                              class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              aria-hidden="true"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1 4a1 1 0 011-1h16a1 1 0 011 1v8a1 1 0 01-1 1H2a1 1 0 01-1-1V4zm12 4a3 3 0 11-6 0 3 3 0 016 0zM4 9a1 1 0 100-2 1 1 0 000 2zm13-1a1 1 0 11-2 0 1 1 0 012 0zM1.75 14.5a.75.75 0 000 1.5c4.417 0 8.693.603 12.749 1.73 1.111.309 2.251-.512 2.251-1.696v-.784a.75.75 0 00-1.5 0v.784a.272.272 0 01-.35.25A49.043 49.043 0 001.75 14.5z"
                                clip-rule="evenodd"
                              />
                            </svg>
                            <p
                              class="text-gray-500 truncate group-hover:text-gray-900"
                            >
                              Payment to Molly Sanders
                            </p>
                          </a>
                        </div>
                      </td>
                      <td
                        class="px-6 py-4 text-sm text-right text-gray-500 whitespace-nowrap"
                      >
                        <span class="font-medium text-gray-900">$20,000</span>
                        USD
                      </td>
                      <td
                        class="hidden px-6 py-4 text-sm text-gray-500 whitespace-nowrap md:block"
                      >
                        <span
                          class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 capitalize"
                          >success</span
                        >
                      </td>
                      <td
                        class="px-6 py-4 text-sm text-right text-gray-500 whitespace-nowrap"
                      >
                        <time datetime="2020-07-11">July 11, 2020</time>
                      </td>
                    </tr>

                    <!-- More transactions... -->
                  </tbody>
                </table>
                <!-- Pagination -->
                <nav
                  class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
                  aria-label="Pagination"
                >
                  <div class="hidden sm:block">
                    <p class="text-sm text-gray-700">
                      Showing
                      <span class="font-medium">1</span>
                      to
                      <span class="font-medium">10</span>
                      of
                      <span class="font-medium">20</span>
                      results
                    </p>
                  </div>
                  <div class="flex justify-between flex-1 sm:justify-end">
                    <a
                      href="#"
                      class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
                      >Previous</a
                    >
                    <a
                      href="#"
                      class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
                      >Next</a
                    >
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
