<div class="flex flex-col justify-center py-6 sm:px-6 lg:px-8">
  <div class="px-4 sm:px-6 lg:px-8 mt-50">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-5xl font-semibold text-gray-900 font-Inter">
          Packages
        </h1>
        <p class="mt-2 font-semibold text-gray-700">
          A list of all the Packages within the system.
        </p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <a
          routerLink="/admin-dashboard"
          class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:w-auto"
        >
          Dashboard
        </a>
      </div>
    </div>
    <div class="flex flex-col mt-8">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <div class="flex items-center justify-between w-full">
            <div>
              <form
                #searchForm="ngForm"
                (ngSubmit)="gotoPage(searchForm.value.name)"
              >
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-600"
                  >Search packages</label
                >
                <div class="flex mt-1 mb-4 rounded-md shadow-sm">
                  <div
                    class="relative flex items-stretch flex-grow focus-within:z-10"
                  >
                    <div
                      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                    >
                      <!-- Heroicon name: mini/users -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5A3.375 3.375 0 006.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0015 2.25h-1.5a2.251 2.251 0 00-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 00-9-9z"
                        />
                      </svg>
                    </div>
                    <input
                      type="search"
                      name="name"
                      id="trackingNumber"
                      ngModel
                      class="block w-full pl-10 border-gray-300 rounded-none rounded-l-md sm:text-sm focus:border-red-500 focus:ring-red-500"
                      placeholder="search by tracking number"
                    />
                  </div>
                  <button
                    type="submit"
                    class="relative inline-flex items-center px-4 py-2 -ml-px space-x-2 text-sm font-medium text-gray-700 border border-gray-300 rounded-r-md bg-gray-50 hover:bg-gray-100 focus:border-red-500 focus:outline-none focus:ring-1 focus:ring-red-500"
                  >
                    <!-- Heroicon name: mini/bars-arrow-up -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      />
                    </svg>

                    <span>Search</span>
                  </button>
                </div>
              </form>
            </div>
            <div>
              <a
                href="https://sprint-ja-backend.herokuapp.com/api/v1/admin/export-packages"
                class="inline-flex items-center justify-center px-4 py-2 mr-8 text-sm font-medium text-white transition-all duration-300 bg-blue-400 border border-transparent rounded-md shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto"
              >
                Export Packages
              </a>
            </div>
          </div>
          <div class="shadow-sm ring-1 ring-black ring-opacity-5">
            <table
              class="min-w-full border-separate table-fixed"
              style="border-spacing: 0"
            >
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                  >
                    Name
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                  >
                    Tracking Number
                  </th>
                  <th
                    hidden
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                  >
                    Description
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell"
                  >
                    Weight
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter"
                  >
                    Cost
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter"
                  >
                    Invoice
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">Edit</span>
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">New Package</span>
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">New Package</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr *ngFor="let package of apiResponse?.content">
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                  >
                    {{ package.firstName }} {{ package.lastName }}
                  </td>

                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                  >
                    {{ package.trackingNumber }}
                  </td>

                  <td
                    class="hidden px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap lg:table-cell"
                  >
                    {{ package.weight }} IBS
                  </td>
                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    {{ package.cost | currency }}
                  </td>
                  <td
                    *ngIf="package.invoice !== null || ''"
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      (click)="onDownloadFile(package.invoice)"
                      class="cursor-pointer"
                      >Download
                    </a>
                  </td>

                  <td
                    *ngIf="package.invoice === null || ''"
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    No Invoice
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      [routerLink]="[
                        '/admin-view-pre-alert',
                        package.trackingNumber
                      ]"
                      class="px-3 py-2 text-center text-white bg-gray-500 rounded-full"
                      >View</a
                    >
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      [routerLink]="[
                        '/admin-edit-pre-alerts',
                        package.trackingNumber
                      ]"
                      class="px-3 py-2 text-center text-white bg-yellow-400 rounded-full"
                      >Edit</a
                    >
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      (click)="onPackageDelete(package.trackingNumber)"
                      class="px-3 py-2 text-center text-white bg-red-600 rounded-full cursor-pointer"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
  >
    <div class="flex justify-between flex-1 sm:hidden">
      <button
        [disabled]="apiResponse?.first"
        type="submit"
        (click)="gotoNextOrPerviousPage('backwards', '')"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
      >
        Previous
      </button>

      <button
        [disabled]="apiResponse?.last"
        type="submit"
        (click)="gotoNextOrPerviousPage('forward', '')"
        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
      >
        Next
      </button>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Page
          <span class="font-medium">{{
            apiResponse?.pageable?.pageNumber + 1
          }}</span>
          of
          <span class="font-medium">{{ apiResponse?.totalPages }}</span>
          of
          <span class="font-medium">{{ apiResponse?.totalElements }}</span>
          results
        </p>
      </div>
      <div>
        <nav
          class="inline-flex -space-x-px rounded-md shadow-sm isolate"
          aria-label="Pagination"
        >
          <button
            [disabled]="apiResponse?.first"
            type="submit"
            (click)="gotoNextOrPerviousPage('backwards', '')"
            class="relative inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
          >
            Previous
          </button>

          <button
            [disabled]="apiResponse?.last"
            type="submit"
            (click)="gotoNextOrPerviousPage('forward', '')"
            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
          >
            Next
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
