<div class="bg-red-600">
  <div class="px-4 py-24 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <h1
      class="text-4xl font-semibold tracking-normal text-white sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
    >
      Our offices
    </h1>
    <p class="max-w-3xl mt-6 text-lg text-white font-Inter">
      We love our customers, so feel free to visit during normal business hours.
    </p>
    <div class="grid grid-cols-1 gap-10 mt-10 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="text-xl font-semibold text-gray-200 font-Inter">
          Junction St.Elizabeth
        </h3>
        <p class="mt-2 text-xl font-bold text-gray-200 font-Inter">
          <span class="block">Shop #20 Royes Plaza</span>
        </p>
      </div>

      <div>
        <h3 class="text-xl font-semibold text-gray-200 font-Inter">
          Santa Curz St.Elizabeth
        </h3>
        <p class="mt-2 text-xl font-bold text-gray-200 font-Inter">
          <span class="block">Shop #2B Coke Drive</span>
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-gray-200 font-Inter">
          Mandeville Manchester
        </h3>
        <p class="mt-2 text-xl font-bold text-gray-200 font-Inter">
          <span class="block">Shop #13 Juici Beef Plaza</span>
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-gray-200 font-Inter">
          Santa Cruz St. Elizabeth
        </h3>
        <p class="mt-2 text-xl font-bold text-gray-200 font-Inter">
          <span class="block">Lover’s Lane </span>
        </p>
      </div>
    </div>
    <div class="mt-10">
      <h3 class="text-xl font-semibold text-gray-200 font-Inter">
        NOTE: Islandwide Delivery Service Available
      </h3>
    </div>
  </div>
</div>
