<div class="bg-red-600">
  <div class="px-4 py-24 mx-auto max-w-7xl sm:py-32 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white">Our offices</h2>
    <p class="max-w-3xl mt-6 text-lg text-white">
      Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id
      malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames.
    </p>
    <div class="grid grid-cols-1 gap-10 mt-10 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="text-lg font-medium text-white">Los Angeles</h3>
        <p class="mt-2 text-base text-gray-400">
          <span class="block">4556 Brendan Ferry</span>
          <span class="block">Los Angeles, CA 90210</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-white">New York</h3>
        <p class="mt-2 text-base text-gray-400">
          <span class="block">886 Walter Streets</span>
          <span class="block">New York, NY 12345</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-white">Toronto</h3>
        <p class="mt-2 text-base text-gray-400">
          <span class="block">7363 Cynthia Pass</span>
          <span class="block">Toronto, ON N3Y 4H8</span>
        </p>
      </div>
      <div>
        <h3 class="text-lg font-medium text-white">London</h3>
        <p class="mt-2 text-base text-gray-400">
          <span class="block">114 Cobble Lane</span>
          <span class="block">London N1 2EF</span>
        </p>
      </div>
    </div>
  </div>
</div>
