<div class="bg-red-600" id="logos-home-page">
  <div
    class="max-w-full px-4 py-16 mx-auto overflow-hidden sm:py-20 sm:px-6 lg:px-8"
  >
    <h1
      class="mb-12 text-4xl font-semibold tracking-normal text-center text-white md:mb-18 sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
    >
      Popular Sites used by our Customers
    </h1>
    <div class="flow-root mt-8 lg:mt-10 slide-track">
      <div class="flex flex-wrap justify-between -mt-4 -ml-8 lg:-ml-4">
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/logo-amazon-404px-grey.png"
            alt="amazon"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/ebay-logo.webp"
            alt="ebay"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets//logos/fashion-nova-logo.png"
            alt="fashion-nova"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/61fa8eb2eec4c40004bacd54.png"
            alt="forever-21"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/shein.jpg"
            alt="Shein"
          />
        </div>

        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/hm-logo-black-and-white.png"
            alt="Shein"
          />
        </div>

        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/logo-amazon-404px-grey.png"
            alt="amazon"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/ebay-logo.webp"
            alt="ebay"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets//logos/fashion-nova-logo.png"
            alt="fashion-nova"
          />
        </div>
        <div class="slide">
          <img
            class="h-12 md:h-24"
            src="../../../assets/logos/61fa8eb2eec4c40004bacd54.png"
            alt="forever-21"
          />
        </div>
      </div>
    </div>
  </div>
</div>
