<div class="flex flex-col justify-center py-6 sm:px-6 lg:px-8">
  <div class="px-4 sm:px-6 lg:px-8 mt-50">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-5xl font-semibold text-gray-900 font-Inter">Users</h1>
        <p class="mt-2 font-semibold text-gray-700">
          A list of all the users within the system.
        </p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <a
          routerLink="/admin-dashboard"
          class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:w-auto"
        >
          Dashboard
        </a>
      </div>
    </div>
    <div class="flex flex-col mt-8">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <div class="flex items-center justify-between w-full">
            <div>
              <form
                #searchForm="ngForm"
                (ngSubmit)="gotoPage(searchForm.value.name)"
              >
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-600"
                  >Search users</label
                >
                <div class="flex mt-1 mb-4 rounded-md shadow-sm">
                  <div
                    class="relative flex items-stretch flex-grow focus-within:z-10"
                  >
                    <div
                      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                    >
                      <!-- Heroicon name: mini/users -->
                      <svg
                        class="w-5 h-5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M7 8a3 3 0 100-6 3 3 0 000 6zM14.5 9a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM1.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 017 18a9.953 9.953 0 01-5.385-1.572zM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 00-1.588-3.755 4.502 4.502 0 015.874 2.636.818.818 0 01-.36.98A7.465 7.465 0 0114.5 16z"
                        />
                      </svg>
                    </div>
                    <input
                      type="search"
                      name="name"
                      id="firstName"
                      ngModel
                      class="block w-full pl-10 border-gray-300 rounded-none rounded-l-md sm:text-sm focus:border-red-500 focus:ring-red-500"
                      placeholder="search by first name"
                    />
                  </div>
                  <button
                    type="submit"
                    class="relative inline-flex items-center px-4 py-2 -ml-px space-x-2 text-sm font-medium text-gray-700 border border-gray-300 rounded-r-md bg-gray-50 hover:bg-gray-100 focus:border-red-500 focus:outline-none focus:ring-1 focus:ring-red-500"
                  >
                    <!-- Heroicon name: mini/bars-arrow-up -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      />
                    </svg>

                    <span>Search</span>
                  </button>
                </div>
              </form>
            </div>
            <div>
              <a
                href="https://sprint-ja-backend.herokuapp.com/api/v1/admin/export-users"
                class="inline-flex items-center justify-center px-4 py-2 mr-8 text-sm font-medium text-white transition-all duration-300 bg-blue-400 border border-transparent rounded-md shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto"
              >
                Export Users
              </a>
            </div>
          </div>
          <div class="shadow-sm ring-1 ring-black ring-opacity-5">
            <table class="min-w-full border-separate" style="border-spacing: 0">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                  >
                    TRN
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                  >
                    Name
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell"
                  >
                    Email
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter"
                  >
                    Phone
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter"
                  >
                    Pick Up Branch
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">Edit</span>
                  </th>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">New Package</span>
                  </th>

                  <th
                    hidden
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">Edit</span>
                  </th>

                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50"
                  >
                    <span class="sr-only">Delete</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr *ngFor="let user of apiResponse?.content">
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 border-b border-gray-200 whitespace-nowrap sm:pl-6 lg:pl-8"
                  >
                    {{ user.trn }}
                  </td>
                  <td
                    class="hidden px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap sm:table-cell"
                  >
                    {{ user.firstName }} {{ user.lastName }}
                  </td>
                  <td
                    class="hidden px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap lg:table-cell"
                  >
                    {{ user.email }}
                  </td>
                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    {{ user.phoneNumber }}
                  </td>
                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    {{ user.pickUpBranch }}
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      [routerLink]="[
                        '/admin-add-new-user-package',
                        user.userId
                      ]"
                      class="px-3 py-2 text-center text-white bg-blue-400 rounded-full"
                      >New Package</a
                    >
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      [routerLink]="['/admin-view-users', user.userId]"
                      class="px-3 py-2 text-center text-white bg-gray-500 rounded-full"
                      >View</a
                    >
                  </td>

                  <td
                    class="px-3 py-4 text-sm text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <a
                      hidden
                      href="#"
                      class="px-3 py-2 text-center text-white bg-yellow-400 rounded-full"
                      >Edit</a
                    >
                  </td>

                  <td
                    hidden
                    class="text-sm text-center text-gray-500 border-b border-gray-200"
                  >
                    <a
                      href="#"
                      class="px-3 py-2 mr-5 text-center text-white bg-red-600 rounded-full"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
  >
    <div class="flex justify-between flex-1 sm:hidden">
      <button
        [disabled]="apiResponse?.first"
        type="submit"
        (click)="gotoNextOrPerviousPage('backwards', '')"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
      >
        Previous
      </button>

      <button
        [disabled]="apiResponse?.last"
        type="submit"
        (click)="gotoNextOrPerviousPage('forward', '')"
        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
      >
        Next
      </button>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Page
          <span class="font-medium">{{
            apiResponse?.pageable?.pageNumber + 1
          }}</span>
          of
          <span class="font-medium">{{ apiResponse?.totalPages }}</span>
          of
          <span class="font-medium">{{ apiResponse?.totalElements }}</span>
          results
        </p>
      </div>
      <div>
        <nav
          class="inline-flex -space-x-px rounded-md shadow-sm isolate"
          aria-label="Pagination"
        >
          <button
            [disabled]="apiResponse?.first"
            type="submit"
            (click)="gotoNextOrPerviousPage('backwards', '')"
            class="relative inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
          >
            Previous
          </button>

          <button
            [disabled]="apiResponse?.last"
            type="submit"
            (click)="gotoNextOrPerviousPage('forward', '')"
            class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50"
          >
            Next
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
