<!--How it Works-->
<div class="py-24 bg-gray-100 sm:py-32 lg:py-28">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="sm:text-center">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        What we do
      </h1>
      <div class="mt-10">
        <div class="flow-root mt-6">
          <ul role="list" class="-my-5 divide-y divide-gray-200">
            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Air &amp; Sea Freight
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Customs Clearance
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Wharf Pick-ups
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Florida &amp; New York Pick-ups – Conditions Apply
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <a href="#" class="hover:underline focus:outline-none">
                    <!-- Extend touch target to entire panel -->
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    Weightless Shipping
                  </a>
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Credit Card Purchases
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Product Sourcing
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-blackfont-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Free Storage; up to Fourteen (14) days
                </h3>
              </div>
            </li>

            <li class="py-5">
              <div class="relative">
                <h3 class="text-lg font-semibold text-gray-80 font-Inter">
                  <!-- Extend touch target to entire panel -->
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  Door to Door Delivery
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
