<div class="bg-white" id="about-us">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        About Us
      </h1>

      <p
        class="mx-auto mt-5 font-medium tracking-normal text-center text-black-700 font-Inter md:text-left"
      >
        Curated in 2022, with the primary thought “Provide the service you would
        be happy with if you were the consumer” - Something you could be proud
        of being behind the steering wheel”. Our goal is to achieve the highest
        level of stakeholder satisfaction through customer service, by
        understanding and fulfilling their needs. Offering a service in demand
        and bringing it about in the simplest way possible, by providing a user
        friendly interface on multiple platforms and managing all needs, with it
        being an affordable service accessible to everyone.
      </p>

      <p
        class="mx-auto mt-5 font-medium tracking-normal text-center text-black-700 font-Inter md:text-left"
      >
        Our team is a family, and we consider everyone we provide our services
        to at SPRINT, as a part of our family. We want you to know that without
        you there is no us, seeing a smile on your faces, also brings a smile on
        ours. With four (4) locations that we occupy and islandwide delivery
        options, we can’t wait to have you a part of our family.
      </p>

      <p
        class="mx-auto mt-5 font-semibold tracking-normal text-center text-black-700 font-Inter md:text-left"
      >
        With Love, SPRINT.
      </p>
    </div>
  </div>
</div>
