<div class="bg-white" id="about-us">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        About Us
      </h1>

      <p
        class="mx-auto mt-5 font-normal tracking-normal text-center text-black font-Inter md:text-left"
      >
        Curated in 2022, with the primary thought
        <span class="font-bold">
          “Provide the service you would be happy with being the
          consumer".</span
        >
        Something you could be proud of being behind the steering wheel. Our
        goal is to achieve the highest level of stakeholder satisfaction through
        customer service, by understanding and fulfilling their needs. Offering
        a service in demand and bringing it about in the simplest way possible,
        by providing a user friendly interface on multiple platforms to meet all
        needs, with it being an affordable service accessible to everyone.
      </p>

      <p
        class="mx-auto mt-5 font-medium tracking-normal text-center text-black font-Inter md:text-left"
      >
        Our team is a family, and we consider everyone we provide our services
        to at <span class="font-bold"> SPRINT </span>, as a part of our family.
        Without our customers , there is no us, their satisfaction - satisfies
        us
      </p>

      <p
        class="mx-auto mt-5 font-semibold tracking-normal text-center text-black font-Inter md:text-left"
      >
        With four (4) locations that we occupy and islandwide delivery options,
        we can’t wait to have you a part of our family.
      </p>
    </div>
  </div>
</div>
