<div class="bg-white" id="about-us">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        About Us
      </h1>

      <p
        class="mx-auto mt-5 font-medium tracking-normal text-center text-black-700 font-Inter md:text-center"
      >
        At Sprint Jamaica, we share a unified mission and vision & that is what
        drives our team to be as efficient as humanly possible in executing the
        tasks required to achieve the best outcome for our customers. We believe
        the ShipWay service quality enables us to earn customers trust and
        loyalty, as they will always feel like #1 priority to us. We are
        passionate about what we do and are excited to simplify the importing
        process for each & everyone, each & everyday.. Based in Kingston,
        Manchester & St. Elizabeth, Jamaica W.I.
      </p>
    </div>
  </div>
</div>
