<app-navbar></app-navbar>
<div
  class="w-full px-4 pt-10 ml-24 overflow-x-visible md:max-w-7xl sm:px-6 lg:px-8"
>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        Legal Disclaimer
      </h1>

      <p class="mt-8 font-semibold font-Inter">
        <span class="text-lg font-bold text-black uppercase font-Inter"
          >Note -
        </span>
        Please read this disclaimer entirely before proceeding on our website or
        submitting a shipment.
      </p>
      <p class="mt-8 font-semibold font-Inter">
        The content and service from or through this website are as provided.
      </p>

      <ul>
        <li class="mt-8 mb-2">
          <p class="font-semibold font-Inter">
            It should be noted items that will require a trade board license or
            permit for importation and if a customer wishes to import an item
            as such, this information should be communicated to SPRINTJA before
            sending to the warehouses.
          </p>
        </li>
        <li class="mb-4">
          <p class="mt-4 font-semibold font-Inter">
            Examples of such items are as follows but not limited to Milk and
            other concentrated products, Plants and parts of plants (include
            seeds and fruits), Plant extracts, Sugar, Cement or Building
            materials such as Clay etc, Chemicals and Gases, Explosives, Small
            and Heavy Equipments, Motor Vehicle, Guns and explosive weapons and
            Recreational weapons.
          </p>
        </li>
        <li class="mt-8">
          <p class="mt-8 text-lg font-bold font-Inter">
            SPRINTJA will not be held accountable for any liability, loss,
            claim, and expense once items leave the warehouse. This also
            includes the inclusion of lawyer’s fees and expenses, related to a
            user’s violation of this agreement or use of the website.
          </p>
        </li>
      </ul>
      <p class="mt-10 font-semibold text-gray-600 font-Inter">
        All personal information submitted and / or communicated to SPRINTJA is
        protected and is considered confidential information.
      </p>
    </div>
  </div>
</div>
