<!--FAQ-->
<div class="bg-gray-200">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="max-w-2xl lg:mx-auto lg:text-center">
      <h1
        class="text-4xl font-semibold tracking-normal text-black sm:text-5xl md:text-4xl lg:text-4xl xl:text-5xl font-Inter"
      >
        Frequently asked questions
      </h1>
      <p class="mt-4 text-gray-500 font-Inter">
        Can’t find the answer you’re looking for? feel free to
        <a
          href="#contact-us"
          class="font-medium text-red-600 hover:text-red-500"
          >contact</a
        >
        our team.
      </p>
    </div>
    <div class="mt-20">
      <dl
        class="space-y-10 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10 lg:space-y-0"
      >
        <div>
          <dt class="font-bold text-black font-Inter">
            How do I ship with your company?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            You are able to sign up on our User-friendly website –
            www.sprintja.com - as well as, you have the option of visiting any
            of our locations where the purchase can be made on your behalf.
          </dd>
        </div>

        <div>
          <dt class="font-bold text-black font-Inter">
            What are the shipping options?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            We provide both Air and Ocean Freight Shipments.
          </dd>
        </div>

        <div>
          <dt class="font-bold text-black font-Inter">
            Where do we ship from?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            We ship from warehouses located in Fort Lauderdale , Florida for air
            freight. Miami, FLorida and Queens, New York for Ocean Freight.
          </dd>
        </div>

        <div>
          <dt class="font-bold text-black font-Inter">
            How long does the shipping process take?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            Based on the package date of delivery, Air Shipment takes four (4)
            days up to one (1) week based on the possibility of delays by
            aircraft carriers.
          </dd>
        </div>
      </dl>
      <dl
        class="mt-10 space-y-10 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10 lg:space-y-0"
      >
        <div>
          <dt class="font-bold text-black font-Inter">What is Customs Duty?</dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            This is the duty payable on imported goods which are valued at over
            50 USD. This value cost is calculated based on the tariff code
            applied for the nature of the item and its Purchasing Cost not
            inclusive of taxes paid to an order.
          </dd>
        </div>

        <div>
          <dt class="font-bold text-black font-Inter">
            How do I submit an invoice?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            Firstly, an invoice is an itemized document that shows a record of
            the Product Detail and its Purchasing cost. Therefore, by
            downloading or saving the order documentation, it can then be
            submitted for uploading to customs.
          </dd>
        </div>

        <div>
          <dt class="font-bold text-black font-Inter">
            When is the shipping fee paid?
          </dt>
          <dd class="mt-3 font-medium text-gray-500 font-Inter">
            The shipping fee is calculated and invoice emailed when the package
            has arrived to its respective branch. However, quotations can be
            pre-provided to customers upon request so they are aware of the
            exact or estimated cost before the package arrives for pickup.
          </dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>
